@model IEnumerable<string>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860


*@

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/Product/Index">Product</a>
    <a href="/Category/Index">Category</a>
    <a href="/ProductCategory/Index">Product category</a>
    <a href="/MeasuringUnit/Index">Measuring unit</a>
    <a href="/Home/Index">Home</a>
</div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Welcome Admin</span>

<div class="breadcrump hidden-md">
    <h3 class="breadcrumb" style="color:crimson">@TempData["Message"]</h3>
</div>



<div>
    <a asp-action="Create" class="btn btn-primary">Add User new role</a>
</div>
<hr />





@foreach (var item in Model)
{

    <div class="row">


        <ul style="font-size:larger">
            <li>
                <div class="col-lg-3">

                    @item.Remove(item.IndexOf('R'))

                </div>
                <div class="col-lg-3">
                    @item.Substring(item.IndexOf('R'))
                </div>
                <div class="col-lg-1">

                    <a href=" @Url.Action("Delete", "Admin", new { username = item.Remove(item.IndexOf('R')).Remove(0, 11).TrimEnd(), role= item.Substring(item.LastIndexOf(' ')+1) } )"> Delete</a>
                </div>

            </li>
        </ul>
    </div>


}




