@{
    ViewData["Title"] = "About";
}

<h3>@ViewData["Message"]</h3>

<h3>Shopping bikes</h3>

<div class="container-fluid">
    <div class="row align-items-center">
        <p> MISSION</p>
        <div class="col-lg-6">
            <p>
                thanks for visiting our web site, we are a small webshop company.
                our mission and vision is to provide our customers with an easier internet store.

                Gravel is here, and it’s the new breed of cycling. (See what we did there?) Sure, 
                riding drop bars on dirt isn’t a new thing. Folks in the countryside will rightfully point out that it’s been a way of life for many cyclists for as long as people have been turning circles. 
                Shoot, even old codgers remind us that the Tour de France began on gravel roads way back in the days of yore. But these days, there are more eyeballs on the gravel riding scene, more legs in the game, and more minds opening up to the wonderful world of off-road adventure. And it’s awesome. 
                That’s why we created the Breed. To chase the sunset across empty gravel roads. To discover a new perspective along our local trails. And to further expand the incredible freedom a bicycle can offer. So whether you’re just discovering a new way of riding, or are a dyed-in-the-wool gravel grinding veteran, the Breed is for you.
            </p>
            <p>
                We want to make it easier for our customers to buy quality bicycles.
                We hope you will be satisfied
            </p>
        </div>
        <div class="col-lg-6">
            <p> <img src="~/img/bike-1.jpeg" alt="Workplace" usemap="#workmap" width="400" height="200" class="img-responsive"></p>
            <p>Image Bike</p>
            <map name="workmap">
                <area shape="rect" coords="34,44,270,350" alt="Computer" href="https://surlybikes.com/uploads/bikes/_medium_image/Straggler_BK7804.jpg">
                <area shape="rect" coords="290,172,333,250" alt="Phone" href="https://surlybikes.com/uploads/bikes/_medium_image/CrossCheck_BK7788.jpg">
                <area shape="circle" coords="337,300,44" alt="Cup of coffee" href="https://surlybikes.com/uploads/bikes/_medium_image/LHT_BK0417.jpg">
            </map>
        </div>
    </div>

    <div class="row align-items-center">
        <h3>Vision</h3>
        <div class="col-lg-6">
            <p><img src="~/img/bike-2.jpg" alt="bike" width="400" height="200" class="img-responsive"/></p>
            <p>Image Mountain bike</p>
        </div>
        <div class="col-lg-6">
            <h3>MODERN GRAVEL GEOMETRY</h3>
            <p>We want our users to be happy with our bicycle and our online store service.</p>
            <p>
                In this day and age of hyper focused bikes designed for only one purpose, it takes a truly special kind of bike to perform across a variety of conditions. 
                The essence of the Breed is its geometry, which was developed after years of testing drop-bar bikes across every road, trail, and off-highway route we could find. 
                It’s on the gravel where the Breed truly shines. Loose terrain demands ultra precise steering control, while epic adventures across open country demand the ability to handle the rough stuff all day long. When civilization looms near and the road becomes paved, the Breed is ready with impeccable road bike-like manners, 
                making for a stable ride that can sprint with the best of ’em while putting in the work mile after paved mile.
            </p>
        </div>
    </div>
    <div class="row align-items-center" id="divImage">
        <div class=" col-lg-12">
            <p><img src="http://www.apartman-gacka.com/wordpress/wp-content/uploads/2015/12/bic-1170x400@2x.jpg" class="img-responsive" /></p>
        </div>
   

    </div>

    <div class="row align-items-center">
        <h3>OPPORTUNITY</h3>
        <div class="col-lg-6">
            <h3>DISC BRAKES & THRU-AXLES</h3>
            <p>Extension to all countries of the region. Expanding to all US countries</p>
            <p>
                Disc brakes are the new standard for drop-handlebar bikes in all riding conditions. They provide more stopping power, greater modulation, 
                and more consistent performance than rim brakes, especially when the weather turns nasty. The Breed utilizes the Flat Mount disc brake standard for the best in performance and security, 
                as well as clean aesthetics. Complementing the Breed’s disc brakes are 12mm thru-axles, which provide a more secure interface over traditional quick-release skewers, 
                along with better stiffness for quicker acceleration, better handling, and crisper shifting.
            </p>
        </div>
        <div class="col-lg-6">
            <p> <img  alt="Phone" src="https://www.firefoxbikes.com/media/wysiwyg/smartwave/OFF-ROAD-BIKES1.jpg" width="400" height="200" class="img-responsive"/></p>
            <p>Bike.</p>
            
        </div>
    </div>

    <div class="row align-items-center">
        <h3>Threats</h3>
        <div class="col-lg-6">
            <p> <img src="https://assets.reviews.com/uploads/2017/12/20002620/Product-Card-Bladez-Echelon-for-Exercise-Bikes.jpg" alt="sobe" width="400" height="200" class="img-responsive"/></p>
        </div>
        <div class="col-lg-6">
            <p>Room bikes are the biggest threat to bicycles hanging by the road or the mountains</p>
            <p>

            </p>
        </div>
    </div>


    <div class="row align-items-center">
        <h3>VIDEO</h3>
          <div class="col-md-8"> 
        <p>
            <video  height="400" controls loop>
                <source src="~/video/TOP 10 Mountain Bikes  Best MTB 2019.mp4" type="video/mp4">
                <source src="~/video/TOP 10 Mountain Bikes  Best MTB 2019.ogg" type="video/ogg">
                Your browser does not support HTML5 video.
            </video>
        </p>
        <p>Top 10 Mountain Bikes / Bset MTB 2019 </p>
        </div>
    </div>

</div>
