@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <title>Gallery</title>
    <link rel="stylesheet" href="~/css/lightbox.min.css">

<fieldset>
    <legend>Bike gallery</legend>
</fieldset>
    <section>
  
            <div>

                <a class="zoom-icon fancybox" title="" rel="gallery" href="http://adria-grupa.hr/wp-content/uploads/2013/07/Adria-izbor-69-of-71.jpg" style="opacity: 0; visibility: visible; left: 31px;">Zoom in</a>


                <div class="row">
                    <div class="col-md-3 col-md-3">
                        <a class="example-image-link" href="~/img/bike-1.jpeg" data-lightbox="example-1"><img class="example-image img-responsive img-thumbnail portfolio" src="~/img/bike-1.jpeg" alt="image-1" width="210" height="300" /></a>
                    </div>
                    <div class="col-md-3 col-md-3">
                        <a class="example-image-link" href="~/img/bike-2.jfif" data-lightbox="example-1"><img class="example-image img-responsive img-thumbnail" src="~/img/bike-2.jfif" alt="image-1" width="210" height="300" /></a>
                    </div>
                    <div class="col-md-3 col-md-3">
                        <a class="example-image-link" href="~/img/bike-2.jpg" data-lightbox="example-1"><img class="example-image img-responsive  img-thumbnail" src="~/img/bike-2.jpg" alt="image-1" width="210" height="300" /></a>
                    </div>
                    <div class="col-md-3 col-md-3">
                        <a class="example-image-link" href="~/img/trek-1.jpg" data-lightbox="example-1"><img class="example-image img-responsive img-thumbnail" src="~/img/trek-1.jpg" alt="image-1" width="210" height="300" /></a>
                    </div>
                </div>

                <hr />


                <div class="row">
                    <div class="col-md-3">
                        <a class="example-image-link" href="~/img/trek-3.jfif" data-lightbox="example-1"><img class="example-image img-responsive img-thumbnail" src="~/img/trek-3.jfif" alt="image-1" width="210" height="300" /></a>
                    </div>
                    <div class="col-md-3">
                        <a class="example-image-link" href="~/img/trek-4.jfif" data-lightbox="example-1"><img class="example-image img-responsive img-thumbnail" src="~/img/trek-4.jfif" alt="image-1" width="210" height="300" /></a>
                    </div>
                    <div class="col-md-3">
                        <a class="example-image-link" href="~/img/trek-5.jfif" data-lightbox="example-1"><img class="example-image img-responsive img-thumbnail" src="~/img/trek-5.jfif" alt="image-1" width="210" height="300" /></a>
                    </div>
                    <div class="col-md-3">
                        <a class="example-image-link" href="~/img/trek-6.jfif" data-lightbox="example-1"><img class="example-image img-responsive img-thumbnail" src="~/img/trek-6.jfif" alt="image-1" width="210" height="300" /></a>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-md-3">
                        <a class="example-image-link" href="~/img/trek-7.jfif" data-lightbox="example-1"><img class="example-image img-responsive img-thumbnail" src="~/img/trek-7.jfif" alt="image-1" width="210" height="300" /></a>
                    </div>
                    <div class="col-md-3">
                        <a class="example-image-link" href="~/img/trek-8.jfif" data-lightbox="example-1"><img class="example-image img-responsive img-thumbnail" src="~/img/trek-8.jfif" alt="image-1" width="210" height="300" /></a>
                    </div>
                    <div class="col-md-3">
                        <a class="example-image-link" href="~/img/trek-9.jfif" data-lightbox="example-1"><img class="example-image img-responsive img-thumbnail" src="~/img/trek-9.jfif" alt="image-1" width="210" height="300" /></a>
                    </div>
                    <div class="col-md-3">
                        <a class="example-image-link" href="~/img/scott-1.jfif" data-lightbox="example-1"><img class="example-image img-responsive img-thumbnail" src="~/img/scott-1.jfif" alt="image-1" width="210" height="300" /></a>
                    </div>

                </div>

                <hr />

                <div class="row">
                    <div class="col-md-3">
                        <a class="example-image-link" href="~/img/scott-2.jfif" data-lightbox="example-1"><img class="example-image img-responsive img-thumbnail" src="~/img/scott-2.jfif" alt="image-1" width="210" height="300" /></a>
                    </div>
                    <div class="col-md-3">
                        <a class="example-image-link" href="~/img/scoot-3.jfif" data-lightbox="example-1"><img class="example-image img-responsive img-thumbnail" src="~/img/scoot-3.jfif" alt="image-1" width="210" height="300" /></a>
                    </div>
                    <div class="col-md-3">
                        <a class="example-image-link" href="~/img/scott-4.jfif" data-lightbox="example-1"><img class="example-image img-responsive img-thumbnail" src="~/img/scott-4.jfif" alt="image-1" width="210" height="300" /></a>
                    </div>
                    <div class="col-md-3">
                        <a class="example-image-link" href="~/img/fuji-1.jfif" data-lightbox="example-1"><img class="example-image img-responsive img-thumbnail" src="~/img/fuji-1.jfif" alt="image-1" width="210" height="300" /></a>
                    </div>

                </div>

                <hr />


                <div class="row">
                    <div class="col-md-3">
                        <a class="example-image-link" href="~/img/fuji-2.jfif" data-lightbox="example-1"><img class="example-image img-responsive img-thumbnail" src="~/img/fuji-2.jfif" alt="image-1" width="210" height="300" /></a>
                    </div>
                    <div class="col-md-3">
                        <a class="example-image-link" href="~/img/fuji-3.jfif" data-lightbox="example-1"><img class="example-image img-responsive img-thumbnail" src="~/img/fuji-3.jfif" alt="image-1" width="210" height="300" /></a>
                    </div>
                    <div class="col-md-3">
                        <a class="example-image-link" href="~/img/fuji-4.jfif" data-lightbox="example-1"><img class="example-image img-responsive img-thumbnail" src="~/img/fuji-4.jfif" alt="image-1" width="210" height="300" /></a>
                    </div>
                    <div class="col-md-3">
                        <a class="example-image-link" href="~/img/fuji-5.jfif" data-lightbox="example-1"><img class="example-image img-responsive img-thumbnail" src="~/img/fuji-5.jfif" alt="image-1" width="210" height="300" /></a>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-md-3">
                        <a class="example-image-link" href="~/img/fuji-7.jfif" data-lightbox="example-1"><img class="example-image img-responsive img-thumbnail" src="~/img/fuji-7.jfif" alt="image-1" width="210" height="300" /></a>
                    </div>

                </div>
       
        <!--
        Učitavanje s neta
    <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-1.jpg" data-lightbox="example-1"><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-1.jpg" alt="image-1" /></a>
    <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-2.jpg" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-2.jpg" alt="image-1" /></a>
    -->


        <hr />
        <h3>Image bikes</h3>

        <div class="row">
            <div class="col-md-3">
                <a class="example-image-link" href="~/img/bike-1.jpeg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image img-responsive img-thumbnail" src="~/img/bike-1.jpeg" alt="" width="210" height="300" /></a>
            </div>
            <div class="col-md-3">
                <a class="example-image-link" href="~/img/bike-2.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image img-responsive img-thumbnail" src="~/img/bike-2.jpg" alt="" width="210" height="300" /></a>
            </div>
            <div class="col-md-3">
                <a class="example-image-link" href="~/img/bike-2.jfif" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image img-responsive img-thumbnail" src="~/img/bike-2.jfif" alt="" width="210" height="300" /></a>
            </div>
            <div class="col-md-3">
                <a class="example-image-link" href="~/img/trek-1.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image img-responsive img-thumbnail" src="~/img/trek-1.jpg" alt="" width="210" height="300" /></a>
            </div>
        </div>

         <hr />

        <div class="row">
            <div class="col-md-3">
                <a class="example-image-link" href="~/img/trek-3.jfif" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image img-responsive img-thumbnail" src="~/img/trek-3.jfif" alt="" width="210" height="300" /></a>
            </div>
            <div class="col-md-3">
                <a class="example-image-link" href="~/img/trek-4.jfif" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image img-responsive img-thumbnail" src="~/img/trek-4.jfif" alt="" width="210" height="300" /></a>
            </div>
            <div class="col-md-3">
                <a class="example-image-link" href="~/img/trek-5.jfif" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image img-responsive img-thumbnail" src="~/img/trek-5.jfif" alt="" width="210" height="300" /></a>
            </div>
            <div class="col-md-3">
                <a class="example-image-link" href="~/img/trek-6.jfif" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image img-responsive img-thumbnail" src="~/img/trek-6.jfif" alt="" width="210" height="300" /></a>
            </div>
        </div>

                <hr />

        <div class="row">
            <div class="col-md-3">
                <a class="example-image-link" href="~/img/trek-7.jfif" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image img-responsive img-thumbnail" src="~/img/trek-7.jfif" alt="" width="210" height="300" /></a>
            </div>
            <div class="col-md-3">
                <a class="example-image-link" href="~/img/trek-8.jfif" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image img-responsive img-thumbnail" src="~/img/trek-8.jfif" alt="" width="210" height="300" /></a>
            </div>
            <div class="col-md-3">
                <a class="example-image-link" href="~/img/trek-9.jfif" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image img-responsive img-thumbnail" src="~/img/trek-9.jfif" alt="" width="210" height="300" /></a>
            </div>
            <div class="col-md-3">
                <a class="example-image-link" href="~/img/scott-1.jfif" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image img-responsive img-thumbnail" src="~/img/scott-1.jfif" alt="" width="210" height="300" /></a>
            </div>
        </div>

                <hr />

        <div class="row">
            <div class="col-md-3">
                <a class="example-image-link" href="~/img/scott-2.jfif" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image img-responsive img-thumbnail" src="~/img/scott-2.jfif" alt="" width="210" height="300" /></a>
            </div>
            <div class="col-md-3">
                <a class="example-image-link" href="~/img/scoot-3.jfif" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image img-responsive img-thumbnail" src="~/img/scoot-3.jfif" alt="" width="210" height="300" /></a>
            </div>
            <div class="col-md-3">
                <a class="example-image-link" href="~/img/scott-4.jfif" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image img-responsive img-thumbnail" src="~/img/scott-1.jfif" alt="" width="210" height="300" /></a>
            </div>
            <div class="col-md-3">
                <a class="example-image-link" href="~/img/fuji-1.jfif" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image img-responsive img-thumbnail" src="~/img/fuji-1.jfif" alt="" width="210" height="300" /></a>
            </div>
        </div>

                <hr />

        <div class="row">
            <div class="col-md-3">
                <a class="example-image-link" href="~/img/fuji-3.jfif" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image img-responsive img-thumbnail" src="~/img/fuji-3.jfif" alt="" width="210" height="300" /></a>
            </div>
            <div class="col-md-3">
                <a class="example-image-link" href="~/img/fuji-2.jfif" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image img-responsive img-thumbnail" src="~/img/fuji-2.jfif" alt="" width="210" height="300" /></a>
            </div>
            <div class="col-md-3">
                <a class="example-image-link" href="~/img/fuji-4.jfif" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image img-responsive img-thumbnail" src="~/img/fuji-4.jfif" alt="" width="210" height="300" /></a>
            </div>
            <div class="col-md-3">
                <a class="example-image-link" href="~/img/fuji-5.jfif" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image img-responsive img-thumbnail" src="~/img/fuji-5.jfif" alt="" width="210" height="300" /></a>
            </div>
        </div>

                <hr />

        <div class="row">
            <div class="col-md-3">
                <a class="example-image-link" href="~/img/fuji-7.jfif" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image img-responsive img-thumbnail" src="~/img/fuji-7.jfif" alt="" width="210" height="300" /></a>
            </div>
        </div>
        </div>



        <!--Učitavanje s neta
    <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-3.jpg" alt="" /></a>
    <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-4.jpg" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-4.jpg" alt="" /></a>
    <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-5.jpg" data-lightbox="example-set" data-title="The next image in the set is preloaded as you're viewing."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-5.jpg" alt="" /></a>
    <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-6.jpg" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-6.jpg" alt="" /></a>
    -->

    </section>
 




    @section Scripts
    {
            <script src="~/js/lightbox-plus-jquery.min.js"></script>
    }