@model string

<h3>@Model</h3>

<h4>FRAME:</h4>
<p>
Felt Verza Speed, Superlite Butted aluminum, smooth TIG welding, tapered 1.125" - 1.5" head tube, flat mount disc standard, internal cable routing, replaceable derailleur hanger
</p>


<h4>SHOCK:</h4>


<h4>FORK:</h4>
<p>
Felt Fitness Disc UHC Advanced carbon fiber monocoque construction, ControlTaper 1.125" - 1.5" aluminum steerer tube with integrated crown, flat mount disc mounting, mounting bosses on side of blades, 9mm QR axle
</p>

<h4>HEADSET:</h4>
<p> FSA integrated, No.42B-CUP, 1.125" - 1.5" </p>

<h4>STEM:</h4>
<p> Aluminum, ±7¡ rise, ¯31.8mm, XS: 80mm, SM/MD: 90mm, LG/XL: 100mm, XXL: 110mm </p>

<h4>HANDLEBAR:</h4>
<p>Flat bar, butted aluminum, ¯31.8mm, 9¡ sweep, XS/SM: 620mm MD/LG: 640mm, XL/XXL: 660mm</p>

<h4>GRIPS:</h4>
<p>Lock-on ergonomic triple density with integrated bar end</p>

<h4>SHIFTERS:</h4> 
<p>Shimano 105 RS700 Rapidfire Plus, 2x11 </p>

<h4>FRONT DERAILLEUR:</h4>
<p>Shimano 105 R7000, clamp-on, ¯31.8mm</p>

<h4> REAR DERAILLEUR: </h4>
<p> Shimano 105 R7000, 11-speed long cage</p>
<h4> CRANKSET: </h4>
<p> Shimano RS510, 50/34T, XS: 165mm, SM: 170mm, MD/LG: 172.5mm, XL/XXL: 175mm </p>
<h4>CHAINGUIDE:</h4>

<h4>BOTTOM BRACKET:</h4>
<p>Shimano sealed cartridge external, BSA threaded, 68mm</p>

<h4>PEDALS:</h4>
<p>Felt fitness aluminum body, nylon cage with TPE non-slip inlay</p>
<h4> BATTERY: </h4>

<h4> CHAIN: </h4>
<p>KMC X11, 11-speed</p>

<h4> FREEWHEEL / CASSETTE: </h4>
<p>Shimano, 11-speed, 11-34T</p>

<h4>BRAKE LEVERS:</h4>
<p>Tektro</p>

<h4>BRAKE (FRONT):</h4>
<p>Tektro R290 flat mount hydraulic disc, 160mm rotor</p>

<h4>BRAKE (REAR):</h4>
<p>Tektro R290 flat mount hydraulic disc, 140mm rotor</p>

<h4>SADDLE:</h4>
<p>Devox road sport, gel</p>

<h4>SEATPOST:</h4>
<p>Aluminum cold-forged head, double bolt micro-adjust, ¯27.2mm x 350mm</p>

<h4>SEATPOST CLAMP:</h4>
<p>Single bolt nut bar design, ¯31.8mm</p>

<h4>RIMS / WHEELSET:</h4>
<p>
Devox Road Disc double wall aluminum, tubeless ready, 17mm inner width, 22mm depth
</p>

<h4>FRONT HUB:</h4>
<p>Sealed cartridge bearing, 100mm QR, 6-bolt, 24H</p>

<h4>REAR HUB:</h4>
<p>Sealed cartridge bearing, 11-speed, 135mm QR, 6-bolt, 28H</p>

<h4>THRU AXLES:</h4>
<h4>SPOKES / NIPPLES:</h4>
<p>2.0mm stainless steel</p>
<h4>TIRES:</h4>
<p>Kenda Kadence, K-Shield puncture protection, reflective strip, 60tpi, 700 x 30c</p>
ACCESSORIES:

<h4>FINISH (ACCENTS):</h4>
<p>Obsidian Pearl (Reflective Pewter)</p>